[submodule "Luna/vendor/GLFW"]
	path = Luna/vendor/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "Luna/vendor/spdlog"]
	path = Luna/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
